@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);
/* line 17, ../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../../src/scss/default.scss */
body {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 130%;
  background: #F5FAFA;
  color: #333;
}

/* line 14, ../../src/scss/default.scss */
h1 {
  font-size: 5em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  letter-spacing: 10px;
  line-height: 100%;
  color: #ffffff;
}

/* line 24, ../../src/scss/default.scss */
h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  line-height: 100%;
  color: #ffffff;
}

/* line 32, ../../src/scss/default.scss */
a {
  color: #333;
}

/* line 36, ../../src/scss/default.scss */
.container {
  min-width: 640px;
  margin: 0 auto;
}

/* line 40, ../../src/scss/default.scss */
header, section {
  padding: 2.5em;
}

/* line 41, ../../src/scss/default.scss */
header {
  background: #ACD1E9;
}

/* line 44, ../../src/scss/default.scss */
.input-container {
  float: left;
  width: 60%;
}

/* line 48, ../../src/scss/default.scss */
label {
  font-weight: 700;
  line-height: 150%;
  display: block;
  text-transform: uppercase;
}

/* line 54, ../../src/scss/default.scss */
textarea {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 18px;
  width: 95%;
  max-width: 95%;
  min-width: 95%;
  min-height: 10em;
  padding: 2.5%;
  border: 1px solid #ACD1E9;
  color: #333;
  background: #F5FAFA;
}

/* line 67, ../../src/scss/default.scss */
.input-text {
  background: #ffffff;
  overflow: hidden;
}

/* line 72, ../../src/scss/default.scss */
.result {
  float: right;
  width: 40%;
  margin-top: 1.5em;
}
/* line 76, ../../src/scss/default.scss */
.result > div {
  margin-left: 1.5em;
}

/* line 79, ../../src/scss/default.scss */
.result-output {
  padding: 1em 2em 3em 3em;
  clear: both;
  margin-top: 1em;
}
