!!!5
html
	head
		title Stat My Text
		script(type="text/javascript", src="http://code.jquery.com/jquery-2.1.0.min.js")
		script(type="text/javascript", src="assets/js/jquery.statmytext.min.js")
		link(href="assets/css/default.css", rel="stylesheet", type="text/css")
		link(href="assets/css/jquery.statmytext.css", rel="stylesheet", type="text/css")
		script(type="text/javascript")
			$(function(){
				$('#statmytext').statMyText();
			});
	body
		article.container
			header
				h1 Stat 
					span My Text
			include statmytext
					
				

