#statmytext
	section.input-text
		label(for="textInput") Enter your text here
		.input-container
			textarea#textInput(name="textInput" placeholder="Enter your text here")
	section.result-text
		div#thetext
		div#result
		div#arraylist
	section.result
		.stats-controller
			ul.sortMode
				li(data-order="asc"): a(href="#") Ascending
				li(data-order="desc"): a(href="#") Descending

			ul.sortBy
				li(data-sort="alpha"): a(href="#") Alphabetical
				li(data-sort="frequency"): a(href="#") Frequency
		.result-stats
		.result-output