#statmytext
	section.input-text
		label(for="textInput") Enter your text here
		.input-container
			textarea#textInput(name="textInput" placeholder="Enter your text here")
	section.result-text
		div#thetext
		div#result
		div#arraylist
	section.result
		.stats-controller
			ul.sortOrder
				li: a(href="#",data-order="asc") Ascending
				li: a(href="#",data-order="desc") Descending

			ul.sortBy
				li: a(href="#",data-sort="alpha") Alphabetical
				li: a(href="#",data-sort="frequency") Frequency
		.result-stats
		.result-output