#statmytext
	section.input-text
		label(for="textInput") Enter your text here
		.input-container
			textarea#textInput(name="textInput" placeholder="Enter your text here")
	section.result-text
		div#thetext
		div#result
		div#arraylist
	section.result
		.stats-controller
			
		.result-stats
		.result-output