#statmytext
	section.input-text
		.input-container
			label(for="textInput") Enter your text here
			textarea#textInput(name="textInput" placeholder="Type in some goodness")

		.result
			.result-stats
			.stats-controller

	section.result-output